.idea/

# terraform examples/
examples/**/.terraform/
examples/**/terraform.d/
examples/**/crash.log
examples/**/*.tfstate
examples/**/*.tfstate.backup
examples/**/.terraform.lock.hcl
examples/**/local.auto.tfvars
